# --- SISMA HUB CONFIGURATION ---
# Las variables aquí definidas se pueden cargar en Coolify o en un archivo .env local

# Base de Datos (PostgreSQL)
DB_USER=sisma_admin
DB_PASS=Ssc841209*
DB_NAME=sismadhub

# Seguridad
SECRET_KEY_HMAC=SISMA_ULTRA_SECRET_KEY_2026
ADMIN_USER=santiago.salazar
ADMIN_PASS=Ssc841209*

# Red
PORT=10000
HUB_PUBLIC_URL=http://localhost:10000
